@use "../../global/variables.scss";

.quotes__wrapper {
  padding-bottom: 1rem;
}

.quotes__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quotes__textarea {
  text-wrap: pretty;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.quotes__description {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  position: relative;
  display: flex;
  gap: 5vw;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: min(3vw, 1rem);
    background-color: variables.$color-secondary;

  }
}

.quotes__source {
  text-align: end;
  font-size: 1rem;
  display: block;
}
