@use "../../global/variables.scss";

.copyright-link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: opacity 0.15s;
      opacity: 0.7;
    }

    &:active {
      transition: opacity 0.15s;
      opacity: 0.4;
    }
  }
}
